
.jumbotron {
    text-align: center;
    border-radius: 5px;
}

body {
    background: #757777;
}

.add-train-heading {
    color: #E6E6E6 !important;
    font-size: 17px;
}

.train-schedule {
    color: #E6E6E6 !important;
    font-size: 17px;
}
